body{
    /* background-color: aliceblue; */

    background-image: url(../image/fb\ image.jpg);
    /* background: ; */
    /* opacity: 0.5; */
background-repeat: no-repeat;
background-size: cover;
}

section{
    padding: 10px;
    width: 600px;
    margin: auto;
    background-color: white;
}

.heading{
    font-size: 35px;
    margin-bottom: 0%;
}
.input{
    padding: 7px 5px 7px 10px;
    font-size: 22px;
    margin: 7px 5px;
    /* border-color: rgb(241, 241, 241); */
    background-color:rgb(246,245,250);
border-radius: 5px;
/* border-style: groove; */
}

.input2{
    font-size:22px ;
    width: 566px;
    background-color: rgb(246,245,250);
    padding: 7px 5px 7px 10px;
    margin: 7px 5px;
    border-radius: 5px;
    /* border-style: groove; */
    /* border-style: solid; */
/* border-color: rgb(241, 241, 241); */
    /* padding: 7px 30px  7px 10px; */
}
.parag{
    font-size: 18px;
    margin-bottom: 0%;
}
.select{
    width: 188px;
    font-size: 22px;
    margin: 3px;
padding: 7px 15px 7px 10px;
}
.selected{
    /* width: 85px; */
    font-size: 22px;
    padding: 7px 15px 7px 10px;
    margin: 3px;

}
a{
    text-decoration: none;
}
.radio{
    margin-left: 70px !important;
}

.sign-up{
    width: 200px;
    font-size: 22px;
    padding:5px  ;
    color: white;
    text-align: center;
    margin-left: 200px;
border-radius: 5px;
    background-color: rgb(0,103,1);
}