
body{
    background-color:rgb(242,241,246) !important;
}
.section1{
    /* float: left; */

/* position: relative; */
padding-left: 160px !important;
width: 300px !important;
}
.heading{
    color: blue !important;
    font-size: 38px !important;
    /* margin-top: 20px; */
}
.paragraph{
    font-size: 22px !important;
    width: 300px;
}
.section2{
width: 400px !important;
background-color: white!important;
position: relative !important;
left: 600px !important;
top: -190px !important;
}
.input{
    padding: 7px 5px 7px 10px !important;
    width: 385px !important;
    font-size: 22px !important;
    margin: 7px 5px !important;
    /* border-color: rgb(241, 241, 241) !important; */
    background-color:rgb(246,245,250) !important;
border-radius: 5px !important;
/* border-style: groove !important; */
}
.button1{
    padding: 7px 5px 7px 10px !important;
    font-size: 22px !important;
    width: 390px !important;
    margin: 7px 5px !important;
    /* border-color: rgb(241, 241, 241); */
    background-color:rgb(31, 31, 255) !important;
    color: white !important;
border-radius: 5px !important;
border-style:hidden !important;
}
.link{
    text-decoration: none !important;
    margin-left: 130px !important;
/* margin-top: 20px !important; */
    /* width: 200px; */
}
.hro{
    width: 380px !important;
margin-top: 20px !important;
}
.last-btn{
    /* border-style: none; */
    font-size: 16px !important;
    padding: 7px 12px !important;
    margin: 10px 0px 20px 0px !important;
    margin-left: 110px !important;
    border-radius:5px  !important;
    background-color: rgb(0,103,1) !important;
    
    color: white !important;
}
.last-paragraph{
    position: relative !important;
    /* left: 650px; */
padding-left: 650px !important;
top: -160px !important;
}

/* footer */

#footer{
    width: 1200px;
    margin: auto;
    word-spacing: 7px ;
}
#footer2{
    margin: auto;
    width: 1200px;
    word-spacing: 14px;
}